@import "bootstrap";

$color-light: #fff8df;
$color-tan-light: #fff8df;
$color-tan-dark: #f2eacf;
$color-brown: #4C2909;
$color-green: #606C38;
$color-red: #A53F2B;
$color-red-light: #bb533e;

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

.btn {
    border: none;
    border-radius: 0px;
}

.btn-default {
    background: $color-red;
    color: $color-tan-light;
}

.btn-default:hover, .btn-default:focus, .btn-default:active {
    background: $color-red-light;
    color: $color-tan-light;
}

header {
    text-align: center;
    height: 40vh;
    width: 100%;
    background-size: cover;
    background-image: url("/images/cookies.jpg");
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .btn {
        padding: 10px 15px;
        // margin: 0px 5px;
    }

    nav {
        background: $color-brown;
        color: $color-tan-light;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 5px 15px;

        button.dropdown-toggle {
            font-size: 20px;
        }

        .dropdown-menu {
            border-radius: 0px;
            background: $color-red;
            a {
                color: $color-tan-light;
            }
            a:hover, a:active, a:focus {
                background: $color-red-light;
                color: $color-tan-light;
            }
            .divider {
                background-color: $color-tan-light;
            }
        }


    }

    h1 {
        font-size: 40px;
        color: #FFFFFF;
        font-weight: bold;
        text-shadow: -2px 2px 3px #2f2f2f;
        margin:auto;
    }
}

section {
    color: $color-brown;
}

.dark {
    background: $color-tan-dark;
}

.light {
    background: $color-tan-light;
}

.large-caption {
    font-size: 15px;
    margin: 20px auto;
}


@media (min-width: 400px) {
    header{
        height: 70vh;
        h1 {
            font-size: 60px;
        }
    }
    .large-caption {
        font-size: 20px;
        max-width: 400px;
        margin: 30px auto;
    }
}

@media (min-width: 900px) {
    header{
        height: 100vh;
        h1 {
            font-size: 80px;
        }
    }
    .large-caption {
        max-width: 500px;
        margin: 50px auto;
    }
}

