<header>
  <nav>
    <h3 style="margin: 0;">FC</h3>
    <div class="btn-group visible-xs-block">
      <button type="button" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="glyphicon glyphicon-menu-hamburger"></span>
      </button>
      <ul class="dropdown-menu dropdown-menu-right">
        <li><a href="#about">About</a></li>
        <li><a href="#features">Features</a></li>
        <li role="separator" class="divider"></li>
        <li><%= link "Create Contest", to: competition_path(@conn, :new) %></li>
      </ul>
    </div>
    <div class="hidden-xs">
      <a class="btn btn-default" href="#about">About</a>
      <a class="btn btn-default"href="#features">Features</a>
      <%= link "Create Contest", to: competition_path(@conn, :new), class: "btn btn-default" %>
    </div>
  </nav>
  <h1>Food Contest</h1>
</header>
<main>
  <section class="dark" id="about">
    <div class="container text-center">
      <p class="large-caption">An app for managing baking and cooking competitions. Host your next chili cook-off or cookie baking contest right here for free!</p>
    </div>
  </section>
  <section class="light">
    <div class="container text-center">
      <h2 id="features">Features</h2>
      <div class="row">
        <div class="col-sm-4">
          <h4>Anonymous</h4>
          <p>No signing up or spam in your inbox</p>
        </div>
        <div class="col-sm-4">
          <h4>Easy sign up</h4>
          <p>Participants add their contest entry and can modify it if needed</p>
        </div>
        <div class="col-sm-4">
          <h4>Public results page</h4>
          <p>Post results immediately after competition voting has concluded</p>
        </div>
      </div>
    </div>
  </section>
  <section class="dark">
    <div class="container">
      <h2 id="the-team">The team</h2>
      <p>Smelly cheese ricotta cheese on toast. Chalk and cheese cheesy feet roquefort cheese triangles cheese strings mozzarella cheesy grin cheesecake. Cow emmental say cheese melted cheese port-salut cheeseburger port-salut emmental. Cheesy feet parmesan goat chalk and cheese monterey jack dolcelatte who moved my cheese brie. Cut the cheese taleggio cheese strings pepper jack paneer hard cheese melted cheese stinking bishop. Bavarian bergkase jarlsberg manchego airedale fromage babybel cow airedale. Danish fontina.</p>
    </div>
  </section>
  <section class="light">
    <div class="container">
      <h2 id="testamonials">Testamonials</h2>
      <p>Queso parmesan squirty cheese. Cream cheese dolcelatte paneer feta boursin paneer edam hard cheese. Boursin dolcelatte brie cheese strings danish fontina when the cheese comes out everybody's happy fondue the big cheese. Fondue cottage cheese fromage halloumi cow taleggio st. agur blue cheese squirty cheese. Croque monsieur hard cheese who moved my cheese cauliflower cheese blue castello roquefort paneer boursin. Gouda queso manchego halloumi cheese triangles.</p>
    </div>
  </section>
</main>
