/* This file is for your main application css. */

@import "bootstrap";

/* Phoenix flash messages */
.alert:empty { display: none; }

$color-light: #fff8df;
$color-tan-light: #fff8df;
$color-tan-dark: #f2eacf;
$color-brown: #4C2909;
$color-green: #606C38;
$color-red: #A53F2B;
$color-red-light: #bb533e;

body, h1, h2, h3, h4, h5, h6 {
    color: $color-brown;
}

body {
    background-color: $color-tan-light;
}
