<%= link "Delete", to: entry_path(@conn, :withdraw, @changeset.data.private_key), class: "pull-right" %>
<h1>Entry #<%= @changeset.data.number %>: <%= @changeset.data.name %></h1>
<p>It is important to keep <%= link "this link", to: entry_path(@conn, :manage, @changeset.data.private_key) %> so you can update your entry if necessary</p>
<%= if @changeset.data.description do %>
  <p>Description: <%= @changeset.data.description %></p>
<% end %>
<p>Competition: <%= link @changeset.data.competition.name, to: competition_path(@conn, :public, @changeset.data.competition.public_key) %></p>

<%= form_for @changeset, entry_path(@conn, :update, Map.get(@conn.params, "key")), fn f -> %>

  <div class="form-group">
    <%= label f, :chef_name, "Chef Name" %>
    <%= text_input f, :chef_name, class: "form-control", placeholder: "Julia Child" %>
    <%= error_tag f, :chef_name %>
  </div>

  <div class="form-group">
    <%= label f, :name, "Food Entry Name" %>
    <%= text_input f, :name, class: "form-control", placeholder: "Not Yo' Mama's Chili", required: "true" %>
    <%= error_tag f, :name %>
  </div>

  <div class="form-group">
    <%= label f, :description, "Description" %>
    <%= textarea f, :description, class: "form-control", rows: 5%>
    <%= error_tag f, :description %>
  </div>

  <%= submit "Update", class: "btn btn-primary pull-right" %>
<% end %>
