<%= form_for @changeset, entry_path(@conn, :create, Map.get(@conn.params, "key")), fn f -> %>

  <div class="form-group">
    <%= label f, :chef_name, "Chef Name" %>
    <%= text_input f, :chef_name, class: "form-control", placeholder: "Julia Child", required: "true" %>
    <%= error_tag f, :chef_name %>
  </div>

  <div class="form-group">
    <%= label f, :name, "Food Entry Name" %>
    <%= text_input f, :name, class: "form-control", placeholder: "Not Yo' Mama's Chili", required: "true" %>
    <%= error_tag f, :name %>
  </div>

  <div class="form-group">
    <%= label f, :description, "Description" %>
    <%= textarea f, :description, class: "form-control", rows: 5%>
    <%= error_tag f, :description %>
  </div>

  <%= submit "Add", class: "btn btn-primary pull-right" %>
<% end %>
