<%= link "Modify Competition", to: competition_path(@conn, :update, @competition.private_key), class: "pull-right" %>
<h1><%= @competition.name %></h1>
<p>Description: <%= @competition.description %></h1>
<p>Facilitator Name: <%= format_name(@competition.facilitator_first_name, @competition.facilitator_last_name) %></p>
<p>
  <%= link "Link to public page", to: competition_path(@conn, :public, @competition.public_key) %>
</p>
<p>
  <%= link "Link to management page", to: competition_path(@conn, :manage, @competition.public_key) %>
</p>
<p>Voting starts: <span class="localize-me" data-datetime="<%= @competition.vote_start_time_utc %>"></span></p>
<p>Voting duration:
  <span class="duration-me" data-start-datetime="<%= @competition.vote_start_time_utc %>" data-end-datetime="<%= @competition.vote_end_time_utc %>"</span>
</p>

<%= if (@competition.entries |> Enum.count) > 0 do %>
  <h3>Entries</h3>
  <%= for e <- @competition.entries |> Enum.sort(&(&1.number < &2.number)) do %>
    <div class="list-group-item">
      <span class="pull-right">
        <p>Chef: <strong><%= e.chef_name %></strong></p>
        <%= link "Delete", to: entry_path(@conn, :delete, @competition.private_key, e.private_key) %>
      </span>
      <h4 class="list-group-item-heading">#<%= e.number %> - <%= e.name %></h4>
      <%= link "Management link", to: entry_path(@conn, :manage, e.private_key) %>
      <%= if e.description do %>
        <p class="text-muted"><%= e.description %></p>
      <% end %>
      <%= if e.votes do %>
        <p>Votes: <%= Enum.count(e.votes) %></p>
      <% else %>
        <p>Votes: 0</p>
      <% end %>
    </div>
  <% end %>
<% else %>
  <p>No entries yet</p>
<% end %>
