<%= form_for @changeset, competition_path(@conn, :create), fn f -> %>

  <div class="form-group">
    <%= label f, :facilitator_first_name, "Your first name" %>
    <%= text_input f, :facilitator_first_name, class: "form-control", placeholder: "John", required: "true" %>
    <%= error_tag f, :facilitator_first_name %>
  </div>

  <div class="form-group">
    <%= label f, :facilitator_last_name, "Your last name" %>
    <%= text_input f, :facilitator_last_name, class: "form-control", placeholder: "Doe", required: "true" %>
    <%= error_tag f, :facilitator_last_name %>
  </div>

  <div class="form-group">
    <%= label f, :facilitator_email, "Your email" %>
    <%= text_input f, :facilitator_email, class: "form-control", placeholder: "john.doe@chefs.com", required: "true" %>
    <%= error_tag f, :facilitator_email %>
  </div>

  <div class="form-group">
    <%= label f, :name, "Contest name" %>
    <%= text_input f, :name, class: "form-control", placeholder: "Chili Cookoff", required: "true" %>
    <%= error_tag f, :name %>
  </div>

  <div class="form-group">
    <%= label f, :description, "Description" %>
    <%= textarea f, :description, class: "form-control", rows: 5%>
    <%= error_tag f, :description %>
  </div>

  <div class="form-group">
    <%= label f, :vote_start_time_local, "Voting Start Time" %>
    <%= text_input f, :vote_start_time_local, class: "form-control convert-utc", type: "datetime-local", data_local_for: "vote-start-time-utc", min: current_date_string(), value: format_datetime(input_value(f, :vote_start_time_local)) %>
    <%= error_tag f, :vote_start_time_local %>
  </div>

  <div class="form-group">
    <%= label f, :vote_end_time_local, "Voting End Time" %>
    <%= text_input f, :vote_end_time_local, class: "form-control convert-utc", type: "datetime-local", data_local_for: "vote-end-time-utc", min: current_date_string(), value: format_datetime(input_value(f, :vote_end_time_local)) %>
    <%= error_tag f, :vote_end_time_local %>
  </div>

  <input type="hidden" name="competition[vote_start_time_utc]" id="vote-start-time-utc" value="<%= input_value(f, :vote_start_time_utc) %>">

  <input type="hidden" name="competition[vote_end_time_utc]" id="vote-end-time-utc" value="<%= input_value(f, :vote_end_time_utc) %>">

  <%= submit "Add", class: "btn btn-primary pull-right" %>
<% end %>
