<h1><%= @competition.name %></h1>
<p>Description: <%= @competition.description %></h1>
<p>Facilitator Name: <%= format_name(@competition.facilitator_first_name, @competition.facilitator_last_name) %></p>
<p>
  <%= link "Link to public page", to: competition_path(@conn, :public, @competition.public_key) %>
</p>
<p>Voting starts: <span class="localize-me" data-datetime="<%= @competition.vote_start_time_utc %>"></span></p>
<p>Voting duration:
  <span class="duration-me" data-start-datetime="<%= @competition.vote_start_time_utc %>" data-end-datetime="<%= @competition.vote_end_time_utc %>"</span>
</p>
<p>
  <%= link "Add an entry", to: entry_path(@conn, :new, @competition.public_key) %>
</p>

<%= if (@competition.entries |> Enum.count) > 0 do %>
  <h3>Entries</h3>
  <%= for e <- @competition.entries |> Enum.sort(&(&1.number < &2.number)) do %>
    <div class="list-group-item entry-list-item">
      <div class="pull-right">
        <p>Chef: <strong><%= e.chef_name %></strong></p>
      </div>
      <h4 class="list-group-item-heading">#<%= e.number %> - <%= e.name %></h4>
      <button type="button" class="vote btn btn-primary" data-entry-id="<%= e.id %>" data-entry-name="<%= e.name%>">Vote</button>
      <%= if e.description do %>
        <p class="text-muted"><%= e.description %></p>
      <% end %>
    </div>
  <% end %>
<% else %>
  <p>No entries yet</p>
<% end %>


<div class="modal fade" id="vote-modal" tabindex="-1" role="dialog" aria-labelledby="vote-modal-title" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" id="vote-form">
      <div class="modal-header">
        <h3 class="modal-title text-center" id="vote-modal-title">Are you sure this is the chili for you?</h3>
        <a href="#" class="close" data-dismiss="modal">No, cancel!</a>
      </div>
      <div class="modal-body">
        <h3>Show some <span class="font-icon icon-heart-line"></span></h3>
        <br/>
        <label for="voter-name">
          Name (Optional)
        </label>
        <input id="voter-name" type="text" class="form-control" />
        <br/>
        <label for="voter-comments">
          Comments (Optional)
        </label>
        <textarea id="voter-comments" type="text" class="form-control"></textarea>
        <input type="hidden" id="entry-id">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">
          <span>
            Yes, Place Vote!
          </span>
          <small>#<span class="entry-id"></span> <span class="entry-name"></span></small>
        </button>
      </div>
    </div>
    <div class="modal-content text-center" id="confirmation">
      <div class="modal-header">
        <h3 class="modal-title" id="vote-modal-title">Thanks for voting!</h3>
      </div>
      <div class="modal-body">
        <h3>Your vote for #<span class="entry-id"></span> <span class="entry-name"></span> has been added.</h3>
      </div>
    </div>
  </div>
</div>
