<h1><%= @competition.name %> Results</h1>
<h3>Entries</h3>
<%= for e <- @competition.entries |> Enum.sort(&(&1.number < &2.number)) do %>
  <div class="list-group-item entry-list-item">
    <div class="pull-right">
      <p>Chef: <strong><%= e.chef_name %></strong></p>
    </div>
    <h4 class="list-group-item-heading">#<%= e.number %> - <%= e.name %></h4>
    <button type="button" class="vote btn btn-primary" data-entry-id="<%= e.id %>" data-entry-name="<%= e.name%>">Vote</button>
    <%= if e.description do %>
      <p class="text-muted"><%= e.description %></p>
    <% end %>
  </div>
<% end %>
